<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Создание новой книги</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="save()" [strong]="true">Save</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="form">
    <ion-list class="ion-padding-start">
      <ion-item class="ion-no-padding">
        <ion-input
          formControlName="name"
          label="Название"
          labelPlacement="floating"
        ></ion-input>
        @if (form.get('name')!.invalid && form.get('name')!.dirty) {
          <div class="ion-padding-bottom">
            <ion-note color="danger">Поле обязательно для заполнения</ion-note>
          </div>
        }
      </ion-item>
      <ion-item class="ion-no-padding">
        <div>
          <ion-select
            formControlName="author"
            label="Автор"
            label-placement="floating"
            [multiple]="true"
          >
            @for (author of authors$ | async; track author.id) {
              <ion-select-option [value]="author.id">{{
                author.name
              }}</ion-select-option>
            }
          </ion-select>
          @if (form.get('author')!.invalid && form.get('author')!.dirty) {
            <div class="ion-padding-bottom">
              <ion-note color="danger"
                >Поле обязательно для заполнения</ion-note
              >
            </div>
          }
        </div>
      </ion-item>
      <ion-item class="ion-no-padding">
        <ion-textarea
          formControlName="description"
          label="Описание"
          labelPlacement="floating"
        ></ion-textarea>
        @if (
          form.get('description')!.invalid && form.get('description')!.dirty
        ) {
          <div class="ion-padding-bottom">
            <ion-note color="danger">
              @if (form.get('description')!.errors!['minlength']) {
                Минимальная длина поля
                {{
                  form.get('description')!.errors!['minlength']!.requiredLength
                }}
                символов
              } @else {
                Поле обязательно для заполнения
              }
            </ion-note>
          </div>
        }
      </ion-item>
      <ion-item class="ion-no-padding">
        <ion-input
          formControlName="pages"
          label="Число страниц"
          labelPlacement="floating"
        ></ion-input>
        @if (form.get('pages')!.invalid && form.get('pages')!.dirty) {
          <div class="ion-padding-bottom">
            <ion-note color="danger">Поле обязательно для заполнения</ion-note>
          </div>
        }
      </ion-item>
      <ion-item class="ion-no-padding">
        <div>
          <ion-select
            formControlName="language"
            label="Язык"
            label-placement="floating"
          >
            @for (
              item of dictionaries.LANGUAGE_DICTIONARY | keyvalue;
              track item.key
            ) {
              <ion-select-option [value]="item.key">{{
                item.value
              }}</ion-select-option>
            }
          </ion-select>
          @if (form.get('language')!.invalid && form.get('language')!.dirty) {
            <div class="ion-padding-bottom">
              <ion-note color="danger"
                >Поле обязательно для заполнения</ion-note
              >
            </div>
          }
        </div>
      </ion-item>
      <ion-item class="ion-no-padding">
        <div>
          <ion-select
            formControlName="genre"
            label="Жанр"
            label-placement="floating"
            [multiple]="true"
          >
            @for (
              item of dictionaries.GENRE_DICTIONARY | keyvalue;
              track item.key
            ) {
              <ion-select-option [value]="item.key">{{
                item.value
              }}</ion-select-option>
            }
          </ion-select>

          @if (form.get('genre')!.invalid && form.get('genre')!.dirty) {
            <div class="ion-padding-bottom">
              <ion-note color="danger"
                >Поле обязательно для заполнения</ion-note
              >
            </div>
          }
        </div>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
