@switch (booksService.loadingState$ | async) {
  @case (loadingStateEnum.Success) {
    <ion-list [inset]="true">
      @for (book of booksService.books$ | async; track book.title) {
        <app-book-item [book]="book"></app-book-item>
      } @empty {
        Список пока пустой
      }
    </ion-list>
  }
  @case (loadingStateEnum.Error) {
    Во время загрузки данных произошла ошибка
  }
  @default {
    <ion-item>
      <ion-label>
        <h3>
          <ion-skeleton-text
            [animated]="true"
            style="width: 80%"
          ></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text
            [animated]="true"
            style="width: 60%"
          ></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text
            [animated]="true"
            style="width: 30%"
          ></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  }
}
