ion-note {
  font-size: 14px;
}
ion-item > div {
  width: 100%;
}
.label {
  padding-top: 10px;
  display: block;
}
.pages-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
